.dropbox
desktop.ini
*.o
tracker/tracker
tracker/download
tracker/keep
tracker/ssdv_done_*
tracker/convert_*
tracker/tweets.log
tracker/webstuff.py
tracker/batc
tracker/youtube
tracker/ex_*
*.jpg
*.JPG
*.sms
*.old
telemetry.txt
gps.txt
prediction.txt
take_pic*
convert*
*.bin
accelcal.txt
magcal.txt
