.dropbox
desktop.ini
*.o
tracker/tracker
tracker/download
tracker/keep
tracker/ssdv_done_*
tracker/coonvert_*
tracker/tweets.log
tracker/webstuff.py
tracker/batc
tracker/youtube
tracker/ex_*
*.NMEA
*.jpg
*.JPG
*.sms
*.old
telemetry.txt
gps.txt
take*
convert*
*.bin
